:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --wishlist-icon-color: #ff0000;
  --border-color: #d3d3d3;
  --hyper-link-color: #3b82f6;
}

body {
  color: var(--primary-color);
  font-family: "Merriweather", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

fieldset {
  border: none;
}
